footer.footer-footer{
	div.main-footer{
		background-color: #272727;
		width: 100%;
		height: 400px;
		clear: both;
		z-index: 60;
		div.navbar-up{
			width: 100%;
			height: 374px;
		}
		div.copyright{
			width: 100%;
			height: 26px;
			padding-left: 31%;
			h4{
				color: #fff;
				font-size: 16pt;

			}
		}
	}
}