@if $enable-grid-classes {
  .container {
    @include make-container();
    @include make-container-max-widths();
  }
}

// Fluid container
//
// Utiliza o mixin destinado a contêineres de largura fixa, mas com largura de 100% para
// fluidos, layouts de largura total.

@if $enable-grid-classes {
  .container-fluid {
    @include make-container();
  }
}

// Row
//
// Contêm as linhas e limpam os flutuantes de suas colunas.

@if $enable-grid-classes {
  .row {
    @include make-row();
  }

// Remove a margem negativa do padrão .row, depois o preenchimento horizontal
// de todas as colunas de filhos imediatos (para evitar herança de estilo de fuga).
  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Columns
//
// Estilos comuns para colunas de grade pequenas e grandes

@if $enable-grid-classes {
  @include make-grid-columns();
}